{{#> blog.html }}
    {{#each this}}
    <article>
        <header>
            <h2><a title="{{title}}" href="{{{relativeLink}}}">{{{title}}}</a></h2>
            <time>{{displayDate}}</time>
        </header>
        <p>{{{summary}}}</p>
    </article>
    {{/each}}
{{/blog.html}}