{{#> index.html}}
<style>
  #logo {
    position: absolute;
    top: 1em;
    left: 1em;
    display: block;
    width: 50px;
    overflow: visible;
  }
  #hero {
    width: 100%;
  }
</style>
<header>
  <nav>
    You can read my personal opinion at my <a href="blog/" title="Joey Guerra's Blog">blog</a>,
    get professaional info on my <a href="https://www.linkedin.com/in/joeyguerra" title="My LinkedIn Profile">LinkedIn</a>
    profile, see code I've written on <a href="https://github.com/joeyguerra" title="Github Profile">GitHub</a>,
    and follow my <a href="https://twitter.com/ijoeyguerra" title="Joey's Twitter Profile">Twitter</a> feed.</p>
  </nav>
</header>
<section style="position: relative;">
  <a href="" id="logo" title="Joey Guerra">
    <img src="imgs/logo-2x.svg" />
  </a>
  <img id="hero" src="imgs/joey-g-boss-pic.jpg" alt="This is Joey Guerra" />
  <p>Hi. I'm Joey Guerra. I'm an ex UT pole vaulter (<a href="https://www.youtube.com/watch?v=fnDRCPV1w-Y" title="1994 SWC Joey Guerra 17-4">1994 SWC</a>, <a href="https://www.youtube.com/watch?v=QPj8eErKGzY" title="1993 Oklahoma Indoor Pole Vaulting">1993 OK Indoor</a>), who graduated with an Aerospace Engineering degree. Worked at Johnson Space Center doing thermal analysis on EVA tools and certifying Space Station hardware for space flight. I taught myself how to code and transitioned to the internet industry just in time for the .com bubble to burst. Yay.</p>
  <p>My journey includes working at a startup telecommunications company, building a prisoner management system, legal case management software, and a video chat system for an internet dating startup (don't judge). I also spent tons of time at a couple of retail companies, working on enterprise systems.</p>
  <p>I worked at ThoughtWorks as a Technical Principal helping people in organizations going through transformation, doing some solid engineering practices.</p>
  <p>Now I'm at Zeal IT, working on my entrepreneurial skills as a Software Development Consultant. I'm doing things like migrating legacy systems to the cloud, reviewing code and recommending how to scale up.</p>
  <p>Ask me about leadership, change management, agility, the MVC design pattern (be ready for this one), Test Driven Development, Pair and Mob Programming, building empowered teams and <a href="https://www.youtube.com/watch?v=U65o4GhnLG8">DevOps</a> if you want to spark up a lively conversation.</p>
</section>
{{/index.html}}