{{#> index.html}}
<header>
    <h2>Links to Topics of Interest</h2>
</header>
<section>
    <dl>
        <dh>Architecture</dh>
        <dd><a href="https://www.ruthmalan.com/">https://www.ruthmalan.com/</a></dd>
        <dd><a href="https://github.com/michaelkeeling/saturn2019-architecture-island-workshop/tree/master/positions-papers">https://github.com/michaelkeeling/saturn2019-architecture-island-workshop/tree/master/positions-papers</a></dd>
    </dl>
</section>
{{/index.html}}