{{#> index.html}}
<header>
    <h2>My NOtes</h2>
</header>
<section>
    <header>
        <h3>DotNet</h3>
    </header>
    <article>
        <p>Output generated SQL from Entity Framework to the console</p>
        <code class="bash">
            dotnet add [project_file.csproj] package Microsoft.Extensions.Logging.Console
        </code>
        <code class="c#">
            public static readonly ILoggerFactory MyLoggerFactory = LoggerFactory.Create(builder => {builder.AddConsole();});
            ...
            services.AddDbContext<ContextName>(o => {
                o.UseSqlServer(connection, options => options.EnableRetryOnFailure())
                    .UseLoggerFactory(MyLoggerFactory);    
            })
            ...
        </code>
        <h2>DB Context is null when being injected into a Repository class</h2>
        <p>
            Fields in appsettings.json must have a correspdoning property in AppSettings.cs in order to be available in code.
        </p>
    </article>
    <article>
        <h4>Unit Testing Entity Framework connected to SQL Server</h4>
        <code class="c#">
            var configurationBuilder = new ConfigurationBuilder()
                .SetBasePath(AppDomain.CurrentDOmain.BaseDirectory)
                .AddJsonFile($"appSettings.json", optional: false, reloadOnChange: false)
                .AddEnvironmentVariables().Build();
            var services = new ServiceCollection()
                .Configure<AppSettings>(configurationBuilder)
                .AddSingleton(resolver => resolver.GetRequiredService<IOptions<AppSettings>>().Value)

            services.AddTransient<IContextRepo, ContextRepo>()
            services.AddDbContext<Context>(o => {
                o.UseSqlServer(contextInstance);
            });
        </code>
        <p>From the Unit Test, get the service by calling a method on the fixture after everything has started up.</p>
        <code class="c#">
            public T GetService<T>(){
                return _provider.GetService`s<T>().FirstOrDefault();
            }
        </code>
    </article>
    <article>
        <h4>Elasticsearch</h4>
        <p>If you want to change/map how property names get serialized to Elasticsearch document, use [DataMember(Name="")] from System.Runtime.Serialization</p>
    </article>
</section>
<section>
    <header><h3>PowerShell</h3></header>
    <article>
        <code class="powershell">
            
        </code>
    </article>
</section>
<section>
    <header>
        <h3>SQL</h3>
    </header>
    <article>
        <code class="sql">
            select * from sys.columns c
            inner join sys.tables t on c.object_id = t.object_id
            where c.name like '%%'
        </code>
    </article>
</section>
<section>
    <header>
        <h3>Javascript</h3>
    </header>
    <article>
        <code class="javascript">
            Tagged Templates https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals
        </code>
    </article>
</section>
<section>
    <header>
        <h3>Website Marketing</h3>
    </header>
    <article>
        <ul>
            <li>Setup Google Analytics</li>
            <li>Google Search - https://search.google.com/ Verify domain with DNS TXT record</li>
            <li>Optimize page speed with https://developers.google.com/speed/pagespeed/insights</li>
        </ul>
    </article>
</section>
{{/index.html}}