{{#> index.html}}
<header>
    <h2>Ideas for posts</h2>
</header>
<section>
    <article>
        No/Low code tools for app building		
        AppSheet - https://www.appsheet.com/create/how-to-create-an-app - Easy to build apps from spreadsheets
        Mighty Networks - https://www.mightynetworks.com/pro - Create your own branded/social app
        ShareTribe - https://www.sharetribe.com/ - Create a marketplace app
        Thinkific - https://www.thinkific.com/ - Create an app for selling online courses
        CloudMatch - https://cloudmatchapp.com/ - Create your own tinder style matching app
        Stencyl - http://www.stencyl.com/ - Create a game
    </article>
    <article>
        UI/Logo Design
        99Designs - https://99designs.com/ - Quality custom graphics
        Design Pickle - https://designpickle.com - Professional graphic designers
    </article>
</section>

{{/index.html}}
