{{#> app.html}}
<section id="todoapp" action="/todos">
  <form id="header" action="/todos">
      <h1>todos</h1>
      <input id="new-todo" name="whatNeedsToBeDone" placeholder="What needs to be done?" autofocus>
      <button type="submit">Add</button>
  </form>
  <!-- This section should be hidden by default and shown when there are todos -->
  <section id="main">
      <input id="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
      <ul id="todo-list">
          <!-- These are here just to show the structure of the list items -->
          <!-- List items should get the class editing when editing and completed when marked as completed -->
          <li>
              <div class="view">
                  <input class="toggle" type="checkbox" checked>
                  <label>Create a TodoMVC template</label>
                  <button class="destroy"></button>
              </div>
              <input class="edit" value="Create a TodoMVC template">
          </li>
      </ul>
  </section>
  <!-- This footer should hidden by default and shown when there are todos -->
  <footer id="footer">
      <!-- This should be 0 items left by default -->
      <span id="todo-count"><strong>0</strong> item left</span>
      <!-- Remove this if you don't implement routing -->
      <ul id="filters">
          <li>
              <button>All</button>
          </li>
          <li>
              <button>Active</button>
          </li>
          <li>
              <button>Completed</button>
          </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button id="clear-completed">Clear completed (<span id="total">0</span>)</button>
  </footer>
</section>
<footer id="info">
  <p>Double-click to edit a todo</p>
</footer>
<script type="module">
  import MakeObservableList from "/webapp/MakeObservableList.mjs"
  import MakeKeyValueObservable from "/webapp/MakeKeyValueObservable.mjs"
  const TodoView = (container, model, delegate)=>{
    const defaultClassList = container.classList
    const completed = container.querySelector(".toggle")
    const label = container.querySelector("label")
    const destroy = container.querySelector(".destroy")
    const input = container.querySelector(".edit")

    label.innerHTML = model.text
    input.value = model.text
    completed.checked = model.done
    model.observe("done", (key, old, value) => {
      if(value){
        container.classList.add("completed")
      } else {
        container.classList.remove("completed")
      }
      completed.checked = value
    })
    model.observe("text", (key, old, value) => {
      label.innerHTML = value
    })
    const view = {
      get container(){
        return container
      },
      get model() {
        return model
      },
      get delegate(){
        return delegate
      },
      get isEditing(){
        console.log("gettng", container.classList)
        return container.classList.indexOf("editing") > -1
      },
      set isEditing(v){
        console.log("settng", container.classList)
        if(!v) {
          container.classList.remove("editing")
          return
        }
        container.classList.add("editing")
        input.focus()
        input.select()
      },
      show(){
        if(model.done){
          container.classList.add("completed")
        } else {
          container.classList.remove("completed")
        }
        container.classList.remove("hidden")
      },
      hide(){
        container.classList.add("hidden")
      },
      click(e){
        if(e.target === completed){
          model.done = e.target.checked
          delegate.completed(model)
        } else if(e.target === destroy){
          delegate.deleteTodo(model)
        }
      },
      dblclick(e){
        if(e.target === label){
          this.isEditing = true
          console.log("dblclicking")
        }
      },
      keyup(e){
        if(e.target === input) model.text = input.value
      },
      keydown(e){
        if(e.target !== input) return
        if(e.keyCode !== 13) return
        this.isEditing = false
        delegate.finishedEditing(this)
      },
      blur(e){
        if(e.target !== input) return
        this.isEditing = false
      },
      handleEvent(e){
        if(this[e.type]) this[e.type](e)
      }
    }
    completed.addEventListener("click", view, true)
    destroy.addEventListener("click", view, true)
    label.addEventListener("dblclick", view, true)
    input.addEventListener("keyup", view, true)
    input.addEventListener("keydown", view, true)
    input.addEventListener("blur", view, true)
    view.show()
    return view
  }

  const TodoEntryView = (container, model, delegate) => {
    const entry = container.querySelector("input")
    const view = {
      get container(){
        return container
      },
      get model() {
        return model
      },
      get delegate(){
        return delegate
      },
      clear(){
        entry.value = ""
      },
      focuse(){
        entry.focus()
      },
      submit(e){
        e.preventDefault()
        if(entry.value.length == 0) return
        model.push(MakeKeyValueObservable({text: entry.value, done: false}))
        this.clear()
      },
      handleEvent(e){
        if(this[e.type]) this[e.type](e)
      },
      focus(){
        entry.focus()
        entry.select()
      }
    }
    container.addEventListener("submit", view, true)
    return view
  }

  const TodoFooterView = (container, model, delegate) => {
    const items = container.querySelector("strong")
    const buttons = container.querySelectorAll("button")
    const all = buttons[0]
    const active = buttons[1]
    const completed = buttons[2]
    const clearCompleted = buttons[3]
    const clearCompletedCount = clearCompleted.querySelector("span")
    const view = {
      get container(){
        return container
      },
      get model() {
        return model
      },
      get delegate(){
        return delegate
      },
      update(key, old, value){
        if(["push", "unshift"].indexOf(key) > -1) value.observe("done", this.doneWasClicked)
        items.innerHTML = model.filter(t=>!t.done).length
        clearCompletedCount.innerHTML = model.filter(t=>t.done).length
      },
      doneWasClicked(key, old, value){
        items.innerHTML = model.filter(t=>!t.done).length
        clearCompletedCount.innerHTML = model.filter(t=>t.done).length
      }
    }
    ;["push", "pop", "remove", "shift", "unshift"].forEach(key=>{
      model.observe(key, view)
    })
    all.addEventListener("click", delegate.showAll.bind(delegate), true)
    completed.addEventListener("click", delegate.showCompleted.bind(delegate), true)
    active.addEventListener("click", delegate.showActive.bind(delegate), true)
    clearCompleted.addEventListener("click", delegate.clearCompleted.bind(delegate), true)
    return view
  }

  const TodoTogglerView = (container, model, delegate) => {
    const view = {
      get container(){
        return container
      },
      get model() {
        return model
      },
      get delegate(){
        return delegate
      },
      toggle(e){
        if(model.length == 0) return e.prevenDefault()
        model.forEach(item=> item.done = e.target.checked)
      },
      click(e){
        this.toggle(e)
      },
      handleEvent(e){
        if(this[e.type]) this[e.type](e)
      }
    }
    container.addEventListener("click", view, true)
    return view
  }

	const todoTemplate = document.getElementById("todo-list").querySelector("li:first-child")
	const template = todoTemplate.cloneNode(true)
  const json = localStorage.getItem("todos")
	const todoList = document.getElementById("todo-list")
	todoList.removeChild(todoTemplate)
  const TodoApp = ()=>{
    return {
      views: MakeObservableList(),
      todos: MakeObservableList(),
      todo: MakeKeyValueObservable({done: false, text: "What needs to be done?"}),
      entryAdded(key, old, value){
        if(!value.text || value.text.length == 0) return
        let todo = this.todos.find(todo=>todo.text == value.text)
        const elem = template.cloneNode(true)
        const view = TodoView(elem, todo, this)
        this.views.push(view)
        todoList.appendChild(elem)
        localStorage.setItem("todos", JSON.stringify(this.todos))
      },
      deleteTodo(todo){
        this.todos.remove(t => t.text == todo.text)
        localStorage.setItem("todos", JSON.stringify(this.todos))
      },
      removed(key, old, value){
        let i = 0
        let ubounds = this.views.length
        const deleted = this.views.remove(view => view.model.text == old.text)
        todoList.removeChild(deleted.container);
        localStorage.setItem("todos", JSON.stringify(this.todos))
      },
      showAll(){
        this.views.forEach(view => {
          if(Object.keys(view.model).indexOf("done") > -1){
            view.show()
          }
        })
      },
      showCompleted(){
        this.views.forEach(view => {
          if(Object.keys(view.model).indexOf("done") > -1){
            if(view.model.done) view.show()
            else view.hide()
          }
        })
      },
      showActive(){
        this.views.forEach(view => {
          if(view.show){
            if(view.model.done) view.hide()
            else view.show()
          }
        })
      },
      clearCompleted(){
        this.todos.removeMany(todo=>todo.done)
      },
      finishedEditing(view){
        this.views.forEach(v => {
          if(v.focus) v.focus()
        })
        localStorage.setItem("todos", JSON.stringify(this.todos))
      },
      completed(model){
        localStorage.setItem("todos", JSON.stringify(this.todos))
      }
    }
  }

  
  const todoApp = TodoApp()
  todoApp.todos.observe("push", todoApp.entryAdded.bind(todoApp))
  todoApp.todos.observe("remove", todoApp.removed.bind(todoApp))
  if(json) {
    const todos = JSON.parse(json)
    console.log(todos)
    todos.forEach(todo => todoApp.todos.push(MakeKeyValueObservable(todo)))
  }
  todoApp.views.push(TodoEntryView(document.getElementById("header"), todoApp.todos, todoApp))
  todoApp.views.push(TodoFooterView(document.getElementById("footer"), todoApp.todos, todoApp))
  todoApp.views.push(TodoTogglerView(document.getElementById("toggle-all"), todoApp.todos, todoApp))
  
</script>
<style>
html,
body {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	appearance: none;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	min-width: 230px;
	max-width: 550px;
	margin: 0 auto;
	font-weight: 300;
}

:focus {
	outline: 0;
}
.hidden {
	display: none;
}

#todoapp {
	background: #fff;
	margin: 130px 0 40px 0;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

#todoapp input::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

#todoapp h1 {
	position: absolute;
	top: -155px;
	width: 100%;
	font-size: 100px;
	font-weight: 100;
	text-align: center;
	color: rgba(175, 47, 47, 0.15);
	text-rendering: optimizeLegibility;
}

#new-todo,
.edit {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	border: 0;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}

#new-todo {
	padding: 16px 16px 16px 60px;
	border: none;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

#main {
	position: relative;
	z-index: 2;
	border-top: 1px solid #e6e6e6;
}

#toggle-all {
	width: 1px;
	height: 1px;
	border: none; /* Mobile Safari */
	opacity: 0;
	position: absolute;
	right: 100%;
	bottom: 100%;
}

#toggle-all + label {
	width: 60px;
	height: 34px;
	font-size: 0;
	position: absolute;
	top: -52px;
	left: -13px;
	transform: rotate(90deg);
}

#toggle-all + label:before {
	content: '❯';
	font-size: 22px;
	color: #e6e6e6;
	padding: 10px 27px 10px 27px;
}

#toggle-all:checked + label:before {
	color: #737373;
}

#todo-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

#todo-list li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px solid #ededed;
}

#todo-list li:last-child {
	border-bottom: none;
}

#todo-list li.editing {
	border-bottom: none;
	padding: 0;
}

#todo-list li.editing .edit {
	display: block;
	width: 506px;
	padding: 12px 16px;
	margin: 0 0 0 43px;
}

#todo-list li.editing .view {
	display: none;
}

#todo-list li .toggle {
	text-align: center;
	width: 40px;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border: none; /* Mobile Safari */
	appearance: none;
}

#todo-list li .toggle {
	opacity: 0;
}

#todo-list li .toggle + label {
	/*
		Firefox requires `#` to be escaped - https://bugzilla.mozilla.org/show_bug.cgi?id=922433
		IE and Edge requires *everything* to be escaped to render, so we do that instead of just the `#` - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7157459/
	*/
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center left;
}

#todo-list li .toggle:checked + label {
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}

#todo-list li label {
	word-break: break-all;
	padding: 15px 15px 15px 60px;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
}

#todo-list li.completed label {
	color: #d9d9d9;
	text-decoration: line-through;
}

#todo-list li .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 30px;
	color: #cc9a9a;
	margin-bottom: 11px;
	transition: color 0.2s ease-out;
}

#todo-list li .destroy:hover {
	color: #af5b5e;
}

#todo-list li .destroy:after {
	content: '×';
}

#todo-list li:hover .destroy {
	display: block;
}

#todo-list li .edit {
	display: none;
}

#todo-list li.editing:last-child {
	margin-bottom: -1px;
}

#header button{
	display: none;
}
#footer {
	color: #777;
	padding: 10px 15px;
	height: 20px;
	text-align: center;
	border-top: 1px solid #e6e6e6;
}

#footer:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
	            0 8px 0 -3px #f6f6f6,
	            0 9px 1px -3px rgba(0, 0, 0, 0.2),
	            0 16px 0 -6px #f6f6f6,
	            0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

#todo-count {
	float: left;
	text-align: left;
}

#todo-count strong {
	font-weight: 300;
}

#filters {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	right: 0;
	left: 0;
}

#filters li {
	display: inline;
}

#filters li button{
	color: inherit;
	margin: 3px;
	padding: 3px 7px;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 3px;
}

#filters li button:hover {
	border-color: rgba(175, 47, 47, 0.1);
}

#filters li button.selected {
	border-color: rgba(175, 47, 47, 0.2);
}

#clear-completed,
html #clear-completed:active {
	float: right;
	position: relative;
	line-height: 20px;
	text-decoration: none;
	cursor: pointer;
}

#clear-completed:hover {
	text-decoration: underline;
}

#info {
	margin: 65px auto 0;
	color: #bfbfbf;
	font-size: 10px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-align: center;
}

#info p {
	line-height: 1;
}

#info a {
	color: inherit;
	text-decoration: none;
	font-weight: 400;
}

#info a:hover {
	text-decoration: underline;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#toggle-all,
	#todo-list li .toggle {
		background: none;
	}

	#todo-list li .toggle {
		height: 40px;
	}
}

@media (max-width: 430px) {
	#footer {
		height: 50px;
	}

	#filters {
		bottom: 10px;
	}
}
</style>

{{/app.html}}