<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <base href="./">
    <!--<meta http-equiv="Content-Security-Policy" content="default-src https:">-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Todo App</title>
    <meta name="author" content="Joey Guerra">
    <meta name="description" content="A Todo App">
    <meta property="og:title" content="A Todo App">
    <meta property="og:description" content="mvc, vanilla javascript, es6, todo app">
    <meta property="og:image" content="/imgs/joey-g-boss-pic.jpg">
    <meta property="og:site_name" content="Todo App"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="favicon_package_v0/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon_package_v0/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_package_v0/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_package_v0/favicon-16x16.png">
    <link rel="manifest" href="favicon_package_v0/site.webmanifest">
    <link rel="mask-icon" href="favicon_package_v0/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="shortcut icon" href="favicon_package_v0/favicon.ico">

    <link rel="apple-touch-startup-image" href="launch.png">
    <meta name="apple-mobile-web-app-title" content="Joey Guerra">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-26060958-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-26060958-5');
    </script>
    <link rel="canonical" href="todos.html">
  </head>
  <body>
    <main role="main">
      {{> @partial-block}}
    </main>
  </body>
  <script src="/socketIo/socket.io.js"></script>
  <script type="module">
    import App from "/webapp/App.mjs"
    function main(){
      window.addEventListener("load", e => {
        window.app = new App(window, io({
          reconnectionAttempts: 5
        }), {})
      }, true)
    }
    if(io) main()
  </script>
</html>