
<style>

</style>

<input type="search" placeholder="Find something" name="searchTerm" id="searchTerm" onkeydown="keyDown(this)" />
<ul>
    <li>something</li>
</ul>

<script type="module">
    console.log("here")
    import MakeKeyValueObservable from "../../webapp/MakeKeyValueObservable.mjs"
    const keyDown = elem => {
        model.searchTerm = elem.value
    }
    const model = {
        searchTerm: null
    }
    
    const list = []
</script>
